notes.txt
/public/images/slider-thubnail-1.jpg
/public/images/slider-thubnail-2.jpg
/public/images/slider-thubnail-3.jpg
/public/images/slider-thubnail-4.jpg
/public/images/slider-thubnail-5.jpg
/public/images/slider-thubnail-6.jpg